/**
 *	Plugin Agenda pour Mantis BugTracker :
 *	
 *	© Hennes Hervé - 2011-2020
 */
#loading { position: absolute; top: 5px; right: 5px; }
#calendar { width: 900px; margin: 0 auto; }
#event_details {
	position:absolute;
	top:200px;
	left:600px;
	width:600px;
	display:none;
	z-index:30;
}
#event_details .p_event_details_header { margin:5px;}
#event_details_description_bug { display:none;}
#event_details_content h2 {margin-top:0;}

.fc-event-container .due_date {
    background-color: #FF0000;
    border-color:#CC0000;
}